.searchBar {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: -40px;
  width: 100%;
}
.toggleSearchButton {
  background-color: #0005;
  border: none;
  border-radius: 5px;
  font-size: 0;
  width: 30px;
  height: 30px;
  margin: 15px 0;
  z-index: 1;
  text-align: right;
  cursor: pointer;
  background-image: url("../images/search.svg");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.toggleSearchButton:hover {
  background-color: #fff5;
  background-size: 16px;
}
.toggleSearchButton.opened {
  background-image: url("../images/close.svg");
  background-size: 8px;
}
.toggleSearchButton.opened:hover {
  background-size: 10px;
}
.searchForm {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-grow: 1;
  padding: 10px 15px;
  padding-left: 60px;
  margin-left: -50px;
  margin-right: -10px;
  background-image: linear-gradient(#505f6e 0%, #2c3037 300%);
}
.searchForm:not([style*="none"]) {
  animation: fadeIn 0.2s ease, slide 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
.searchForm input,
.searchForm select {
  background-color: #43495399;
  border: 1px solid #0001;
  border-radius: 3px;
  box-shadow: inset 0px 0px 5px #0000;
  color: #dfe3e6;
  padding: 5px 8px;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.searchForm input:hover,
.searchForm select:hover {
  outline: none;
  box-shadow: inset 1px 1px 8px #0003;
}
.searchForm input:focus,
.searchForm select:focus {
  outline: none;
  box-shadow: inset 1px 1px 8px #0005;
}
.searchForm button[type="submit"] {
  background-color: #6a8704;
  padding: 4px 15px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.searchForm button[type="submit"]:hover {
  filter: brightness(1.1);
}

.gameList,
.gameList .results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 60px;
}
.gameList .results {
  width: 100%;
  padding-top: 20px;
}

.gameList a {
  position: relative;
  width: calc(280px);
  max-width: calc(33.33% - 13.33px);
  flex-grow: 1;
  height: calc(280px);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 3px;
  overflow: hidden; /* pour le border-radius */
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
}
.gameList a:hover {
  transform: scale(1.15);
  z-index: 1;
  box-shadow: 0 38px 20px rgba(0, 0, 0, 0.6);
  overflow: visible;
}
.gameList a > img {
  object-fit: cover;
  height: calc(100% - 38px);
  object-position: top left;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.gameList a:hover > img {
  object-position: bottom right;
  transition: object-position 5s cubic-bezier(0.19, 1, 0.22, 1);
}
.gameList a > footer {
  background-color: #000;
  min-height: 38px;
  height: 100%;
  display: flex;
  text-decoration: none;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.gameList a:hover > footer {
  background-color: #2c333a;
}

.gameList a > footer h3,
.gameList a > footer .infos,
.gameList a > footer .desc {
  padding: 0 10px;
  height: auto;
}

.gameList a:hover > footer h3 {
  height: 100%;
  padding-top: 6px;
  font-size: 18px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}

.gameList a:hover > footer p {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.gameList a:hover > footer h3,
p {
  opacity: 1;
}

.gameList a > footer .infos,
.desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  transition: all 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  /* transform: translateY(0); */
}
.gameList a:hover > footer .infos,
.desc {
  /* transform: translateY(100%); */
  font-size: 12px;
  top: 30px;
  color: #6b8aaa;
}
.gameList a > footer .infos time {
  font-size: 80%;
  opacity: 0.7;
}
.gameList a > footer .infos .metacritic {
  display: inline-block;
}
.gameList a > footer .infos .metacritic:after {
  display: inline-block;
  content: "★";
  /* content: '☆'; */
  font-size: 80%;
  transform: translateY(-1px);
  margin-left: 3px;
  opacity: 0.8;
}
.gameList a:hover > footer .infos .metacritic {
  color: #32ad31;
}

@media screen and (max-width: 660px) {
  .gameList a {
    height: 140px;
  }
}
@media screen and (max-width: 500px) {
  .gameList a {
    width: 100%;
    max-width: 100%;
    height: 400px;
  }
}
/* @media screen and (max-width: 700px) {
	.gameList a {
		height: 160px !important;
	}
}
@media screen and (max-width: 600px) {
	.gameList a {
		height: 120px !important;
	}
} */
